// $fa-font-path : "~@fortawesome/fontawesome-free-webfonts/webfonts";
// @import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
// @import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";
// @import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular.scss";
// @import "~@fortawesome/fontawesome-free-webfonts/scss/fa-brands.scss";


:root {
    // --base-bg-color: linear-gradient(rgb(174 188 255), rgb(255 0 0), rgb(62 185 219));
    --base-bg-color: linear-gradient(rgb(17, 24, 39), rgb(88, 28, 135), rgb(124, 58, 237));
    --height-header-home: 70px;
    --background-white: #ddd;
    --text-color-black: #737373;
    --text-color-white: #d2d2d2;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Amiko';
    font-size: 1.6rem;

    &::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #000000;
    }
}

//Custom scollbar
.scoll-bar {
    &::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #000000;
    }
}

a {
    display: block;
    color: unset;
    text-decoration: none;
}

input {
    outline: none;
    border: none;

    &::placeholder {
        color: var(--text-color-black);
        font-family: 'Amiko';
        font-size: 1.5rem;
    }
}

.main-container {
    background: var(--base-bg-color);
    // background: url('../assets/image/home/Slide4.jpg');
    background-size: cover;
    min-height: 100vh;

}

//Hiệu ứng tráng gương
.light-effect {
    position: relative;
    overflow: hidden;

    &.light-effect-flash::after {
        transition: .15s linear;
    }

    &.light-effect-slow::after {
        transition: .25s linear;
        border: none;
    }

    &::after {
        content: "";
        position: absolute;
        width: 60px;
        height: 1100px;
        background-color: rgba(255, 255, 255, .3);
        transform: rotate(45deg) translateX(0);
        top: -640px;
        left: 0;


    }

    &:hover::after {
        transform: rotate(45deg) translateX(740px);
    }
}

//Nền cho ảnh
.background-primary {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(rgba(17, 24, 39, .05), rgba(88, 28, 135, .05), rgba(124, 58, 237, .05));
        pointer-events: none;
        // background-color: aqua;
        z-index: 1000;

    }
}