.ExhibitionImage-container {
    .ExhibitionImage-content {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
        aspect-ratio: 8/1;
        padding: 10px;
        margin-top: 20px;

        .ExhibitionImage-item {
            flex: 1;
            background-color: aqua;
            cursor: pointer;
            overflow: hidden;
            border-radius: 4px;

            &:hover {
                div {
                    transform: scale(1.1);
                }
            }

            div {
                width: 100%;
                height: 100%;
                background-size: cover;
                transition: all .3s linear;
            }

            &.img-1 {
                div {
                    background-image: url('../../../assets/image/home/ExhibitionImage-1.webp');
                }
            }

            &.img-2 {
                div {
                    background-image: url('../../../assets/image/home/ExhibitionImage-2.webp');
                }
            }

            &.img-3 {
                div {
                    background-image: url('../../../assets/image/home/ExhibitionImage-3.webp');
                }
            }

            &.img-4 {
                div {
                    background-image: url('../../../assets/image/home/ExhibitionImage-4.webp');
                }
            }
        }
    }
}

@media (max-width: 850px) {
    .ExhibitionImage-container {
        .ExhibitionImage-content {
            aspect-ratio: 2/1 !important;

            .ExhibitionImage-item {
                flex: unset !important;
                width: calc(50% - 10px);
            }
        }
    }
}