.header-home {

    .header-home-scroll {
        position: fixed;
        width: 100%;
        left: 0;
        top: -100%;
        background-color: rgb(19 19 42);
        z-index: 10000;
        box-shadow: 1px 0 5px 2px rgb(19 19 42);
        transition: .25s linear;

        &.active {
            top: 0%;
        }
    }

}